/* .node circle {
  fill: #fff;
  stroke: rgb(11, 12, 12);
  stroke-width: 2px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: rgb(15, 14, 14);
  stroke-width: 2px;
}

.edge-label {
  font: 12px sans-serif;
  fill: black;
} */
